*{
    box-sizing: border-box;
}

body{
    margin: 0px;
}

.bola{
    width: 25rem;
    height: 25rem;
    background-color: red;
    border-radius: 20rem;
    align-items: center;
    transition: width 5s;
    transition: height 5s;

}

.bola-holder{
    
}




.bola:hover{
    width: 0rem;
    height: 0rem;
}




.main{
    display: flex;
    width: 100%;
    justify-content: center;
    height: 100%;
    align-items: center;
    flex-direction: column;
}

p{
    font-size: 2rem;
}