*{
    box-sizing: border-box;
}

body{
    margin: 0px;
}

#gato{
    width: 25rem;
    height: 25rem;
    display: none;
    transition: "opacity 0.25s ease";
    opacity: 0;
}


#salute{
    width: 5rem;
    height: 5rem;
    display: none;
    margin-left: 15px;
}

.txt-holder{
    display: flex;
    align-items: center;
}

#btn{
      width: 25rem;
    height: 25rem;
    background-color: red;
    border-radius: 20rem;
    align-items: center;
}


.main{
    display: flex;
    width: 100%;
    justify-content: center;
    height: 100%;
    align-items: center;
    flex-direction: column;
}

p{
    font-size: 2rem;
}